# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and logs
.cache/
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.pytest_cache/

# Development environments
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
*.egg

# Virtual environments
.venv/
venv/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS artifacts
.DS_Store
Thumbs.db

# .env for safety
.env

# Git
.git/